body, html {
	height: 100vh;
	overflow: hidden;
}

/* Grid ----------------------*/
body {
	margin: 0;
	display: grid;
	grid-template-columns: 300px auto;
	grid-template-rows: 100px auto auto 60px;
	grid-template-areas: 
		"header header"
		"nav nav"
		"sidebar main"
		"sidebar footer";
}

aside {
	grid-area: sidebar;
	background-color: white;
	border-right: solid 10px #E8E8E8;
	padding-top: 0px;
}

header {
	grid-area: header;
	background-color: pink;
}

nav {
	grid-area: nav;
	background-color: darkcyan;
	text-align: center;
}

main {
	grid-area: main;
	background-color: white;
	display: flex;
	flex-flow: row wrap; 
	overflow-y: scroll;
	border-bottom: 10px solid #E8E8E8;
}

footer {
	grid-area: footer;
	background-color: white;
	font-size: 16px;
	text-align: center;
}

/* Footer tekst ----------------*/
footer li {
	border-right: solid black 1px;
	list-style: none;
	display: inline-block;
	padding: 10px 30px;
}

footer li:last-child {
	border-right: none;
}

/* Id'er ------------------------ */
#bilde {
	width: 100%;
	height: 100px;
}

#overskrift {
	position: absolute;
	color: white;
	top: 10px;
	left: 30px;
}

/* Class'er ---------------------- */
.artikler {
	background-color: white;
	padding-left: 20px;
	max-width: 48%;
	min-width: 500px;
	transition: max-width 2s;
}
@media only screen and (max-width: 1356px) {
 .artikler {
    max-width: 80%;
    min-width: 500px;
    
  }
}

.artiklerBilde {
	height: 400px;
	width: 250px;
	float: right;
	margin-left: 5px;
}

/* Navigasjonsbar -------------*/

nav li {
	list-style: none;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 5px;
	padding: 5px;
	display: inline-block;
	background-color: #00748B;
	border-radius: 3px;
}

nav a {
	color: black;
	text-decoration: underline solid transparent;
	transition: text-decoration 1s ease;
}

nav a:hover {
	text-decoration: underline solid black;
}

nav ul {
	margin: 0px;
	margin-bottom: 5px;
}

/* Annet -------------------- */

aside details {
	margin: 5px 5px;
}

@media screen and (max-width: 820px) {
	body {
		overflow: scroll;
		grid-template-columns: 100%;
		grid-template-rows: 100px auto auto auto auto;
		grid-template-areas:
		"header"
		"nav"
		"main"
		"sidebar"
		"footer";
	}
	
	main {
		overflow-y: visible;
	}

	aside {
		border-right: none;
	}

	footer {
		border-top: 10px solid #E8E8E8; 
	}

	.artikler {
		min-width: 200px;
		max-width: 100%;
	}

	#overskrift {
		position: relative;;
		top: -94px;
		color: white;
	}

	#bildeSidebar {
		width: 100%;
		height: 100%;
}

@media screen and (max-width: 500px) {
	body {
		overflow: scroll;
		grid-template-columns: 100%;
		grid-template-rows: 100px auto auto auto auto;
		grid-template-areas:
		"header"
		"nav"
		"main"
		"sidebar"
		"footer";
	}
	
	main {
		overflow-y: visible;
	}

	aside {
		border-right: none;
	}

	footer {
		border-top: 10px solid #E8E8E8; 
	}

	.artikler {
		min-width: 200px;
		max-width: 100%;
	}

	#overskrift {
		position: relative;;
		top: -94px;
		color: white;
	}

	#bildeSidebar {
		width: 100%;
		height: 100%;
}