		.menyOppgaveBtn {
			background-color: #48D1CC;
			color: black;
			padding: 10px 25px;
			font-size: 18px;
			cursor: pointer;
			border: none;
			border-radius: 4px;
			;

		}

		.menyOppgaveBtn:hover {
			text-decoration: underline;
		}

		#mainH1 {
			display: inline;
			color: white;
		}

		.overskrifterH2 {
			padding-top: 7px;
		}

		footer {
			background-color: #87CEFA;
			border: 1px solid black;
			width: 300px;
			border-radius: 2px;
		}

		.oppgavedatoP {
			color: gray;
			float: right;
			padding-right: 10px;
		}

		#mainDiv {
			/* background-color: #654321; */
			background-color: #20B2AA;
			width: 1000px;
			margin: 0 auto;
			border-radius: 12px;
		}

		#firstHeader {
			background-color: #20B2AA;
			text-align: center;
			border-radius: 5px;
			font-family: Helvetica;
		}

		#secondDiv {
			background-color: #FFEBCD;
			border-radius: 0px;
			font-family: Helvetica;
			width: 1000px;
			margin: 0 auto;
			min-height: 700px;
		}

		.oppgaveFerdigP {
			color: gray;
		}

		.bildeImg {
			float: right;
			margin-left: 15px;
			margin-bottom: 15px;
			height: 600px;
			width: 500px;
		}

		#bildeFig {
			color: gray;
			display: inline;
			float: right;
		}

		#boxmodellDiv1 {
			float: right;
			color: white;
			background-color: purple;
			width: 500px;
		}

		#boxmodellDiv2 {
			padding: 30px;
			color: white;
			background-color: blue;
			position: right;
			text-align: center;
			width: 200px;
			height: 700px;

		}
		
		#boxmodellDiv3 {
			position: absolute;
			right: 30%;
			top: 30%;
		}

		#boxmodellDiv4 {
			position: absolute;
			background-color: green;
			right: 20px;
			top: 40%;
		}
