body {
    height: 100vh;
    display: grid;
    grid-template-columns:50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
    "main nav"
    "article aside";
}

main {
    grid-area: main;
    background-color: blue;
}
nav {
    grid-area: nav;
    background-color: red;
}
article {
    grid-area: article;
    background-color: Yellow;
}
aside {
    grid-area: aside;
    background-color: pink;
}
    @media only screen and (max-width: 600px) {
        body {
            background-color: lightblue;
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto;
            grid-template-areas:
            "main"
            "nav"
            "article"
            "aside";
        }
      }