body {
    display: grid;
    grid-template-columns: auto 500px 500px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "a header nav b"
    "a main article b";
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

article {
    grid-area: article;
    padding: 10px;
}

main img {
    width: 100%;
}

header h1 {
    margin: 10px auto;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin: 10px 20px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    color: red;
}


@media only screen and (max-width: 500px) {
    body {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "article";
    }
}
