/* Grid ------------------------ */

body {
	height: 100vh;
	margin: 0px;
	display: grid;
	grid-template-columns: auto 1000px auto;
	grid-template-rows: 100px 45px auto;
	grid-template-areas: 
	"header header header"
	"nav nav nav"
	"aside1 main aside2";
}

header {
	grid-area: header;
	background-color: white;
}

nav {
	grid-area: nav;
	background-color: darkcyan;
	text-align: center;
}

#aside1 {
	grid-area: aside1;
	background-color: white;
}

#aside2 {
	grid-area: aside2;
	background-color: white;
}
main {
	grid-area: main;
	background-color: white;
}

/* Id'er ------------------------ */
#hovedsideBilde {
	width: 100%;
	height: 100px;
}

#overskrift {
	position: absolute;
	color: white;
	top: 10px;
	left: 30px;
}

#imgSkjema {
	float: right;
	height: 500px;
	width: 450px;
	border-radius: 5px;
}

#imgMedia {
	float: right;
	width: 450px;
	border-radius: 5px;
}

#imgGridFlex {
	 height: 300px;
	 width: 800px;
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
}

#gridEksempel1 {
	float: left;
	width: 550px;
	margin-top: 10px;
}
#gridEksempel2 {
	float: right;
	width: 450px;
	height: 500px;
	margin-top: 10px;
}
/* Class'er ---------------------------- */


/* Navigasjonsbar ---------------------- */
nav li {
	list-style: none;
	text-decoration: none;
	margin-top: 10px;
	margin-left: 5px;
	padding: 5px;
	display: inline-block;
	background-color: #00748B;
	border-radius: 3px;
}

nav a {
	color: black;
	text-decoration: none;
}

nav ul {
	margin: 0px;
}

/* Annet ------------------------------- */
h4 {
	margin-bottom: 5px;
}


/* Print ------------------------------- */
@media print {
	header, nav, aside, footer {
		display: none;
	}
}